#start {
    display: none;
    background: lightgray;
}
body {
    background: dimgrey;
}
#outline {
    background: lightgray;
    border-style: solid;
    width: 1000px;
    height: 700px;
}
#title {

}
#img1 {
    position: absolute;
    background: lightgray;
    border-style: solid;
    height: 300px;
    width: 400px;
}
#img2 {
    position: absolute;
    background: lightgray;
    border-style: solid;
    height: 300px;
    width: 300px;
}
#accordion {
    position: absolute;
}
#name {
    position: absolute;
    background: cadetblue;
    width: 60px;
    height: 20px;
}
#dialoguebox {
    position: absolute;
    width: 700px;
    height: 200px;
}
button {
    position: absolute;
    top: 70%;
}
#next_btn {
    left: 80px;
}