<!DOCTYPE html>
<html>
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="./css/app.css?<%= rand(1000000000) %>">

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="./js/app.js?<%= rand(1000000000) %>"></script>
</head>
<body>
<%= yield %>
</body>
</html>