<span id="loading">Loading...</span>
<a id="start" href="#">Start</a>
<div id='outline'>
  <div id='img1'></div>
  <div id='img2'></div>
  <div id='textbox'>
    <textarea id='dialoguebox'></textarea>
  </div>
  <div id='eviList'></div>
  <div id='btns'></div>
</div>